<html>
<head>
<style>

table, th, td {
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

</style>
</head>

<body>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Teacher Name</th>
  </tr>

{% for subject in subject_list %}

  <tr>
	  <td><a href="{% url 'myschool:subject-detail' subject.id %}">{{ subject.name }}</a></td>
    <td>{{ subject.teacher.person.name }} {{ subject.teacher.person.surname }} </td>
  </tr>
{% endfor %}
</table>

</body>
</html>
