<html lang="en">
<head>
    <title>My class project</title>
    <div style="text-align: right">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
            <a href="/logout/"><p>Logout</p></a>
        {% else %}
            <a href="/login/"><p>Welcome, new user. Please log in.</p></a>
        {% endif %}
        {% if user.is_superuser %}
            <a href="/admin/"><p>Admin</p></a>
        {% endif %}
    </div>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/polls/">Polls</a></li>
            <li><a href="/myschool/">Myschool</a></li>
            <li><a href="/admin/">Admin</a></li>
        </ul>
        {% endblock %}
    </div>
</head>

<body>

{#<div style="text-align: right;"><a href="/login/">login page</a></div>#}


    <div id="content">
        {% block content %}{% endblock %}
    </div>
<h1>myschool project</h1>
</body>
</html>

